{% extends "base-blog.html.twig" %}
{% block content %}
	<h1>Alexandra Gonzalez, mon blog</h1>
	<h2>Bienvenue sur mon blog !</h2>
	<div class="content">
		<p>
			Comme vous l'avez peut-être lu sur mon site CV, l'informatique, et en particulier le développement web me passionne, ce qui m'a ammené à noter des astuces ou tout simplement des mémos sur Windows, sur des frameworks ou des langages web. Vous trouverez ces notes dans "info astuces".<br /><br />
			En 2017, j'ai acheté une voiture électrique, la Zoé 2017 et je suis littéralement devenue une férue de l'électrique !  J'essaie de repousser les limites de la zone dite "de confort" en partant en vacances avec ma Zoé. Dans la raubrique "électromobilité" je décris ces voyages, mais aussi vous trouverez des bons plans.<br /><br />
			Enfin, pendant le confinement, j'ai découvert l'impression 3D. Ce contexte m'a permis de me forger une petite expérience que je souhaite partager.<br /><br />

			Bonne lecture.
		</p>
	</div>
{% endblock %}